body{
    margin: 0;
    padding: 0;
    background: #FFEFBA;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    font-weight: 700;
    font-size: 32px; 
    box-sizing: border-box;
    
}
.container{
    border-radius: 100%;
    overflow: hidden;
    width: 500px;
    height: 500px;
    margin: 30px auto;
    display: flex;
    justify-content:center;
    align-content: center;
    flex-wrap: wrap;
}
.box{
    width:50%;
    height:50%;
    
}
.start{
    align-self:center;
    background:  #373B44;
    color:white;
    cursor: pointer;
    height: 100px;
    line-height: 100px;
    position: absolute;
    text-align: center;
    width: 300px;
}
#green{background: green;}
#red{background: red;}
#blue{background: blue;}
#yellow{background: yellow;}
.off{opacity:0.5;}

.popup_container{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    position:fixed;
    width:100%;
    height:100%;
    text-align:center;
    top:0;
    z-index:10000;
    display:none;
}
.popup_container .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle
    }
.popup_container > div{
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 200px;
    vertical-align: center;
    width: 60%;
    position: relative;
    border-radius: 20px;
    padding: 15px 5%;
}

.popupClose{
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupClose:hover {
    background-color: #ccc;
}
.wrong{
    color:red;
    font-weight: 1000;
    font-size: 90px;
}
.simbol{
    overflow: hidden;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border:solid 5px red;
}